[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[packages]

requests = "*"
"urllib3" = "*"
tqdm = "*"
"glob2" = "*"
wget = "*"
seaborn = "*"
networkx = "*"
pip = "*"
"r2pipe" = "*"
lxml = "*"
"python-magic" = "*"
plyj = "*"
imgkit = "*"
numpy = "*"


[dev-packages]